In [274]:
import pandas as pd

In [296]:
wages = pd.read_csv("software developer wages.csv")  
office_space = pd.read_csv("Office Space Cost Data.csv")  
remote_expenses = pd.read_csv("remoteExpenses.csv")
commute_costs = pd.read_csv("Commute Cost.csv")

In [298]:
print(wages.head())

              Keyword            Company  \
0  software developer  CyberBalance, LLC
1  software developer        eComSystems
2  software developer     Bend-Tech, LLC
3  software developer     Ceresti Health
4  software developer  CyberBalance, LLC

                                           Job_title      City State  \
0  Senior .NET Developers to Modernize Cybersecur...    Remote   NaN
1                       Full Stack Website Developer  Sarasota    FL
2  Entry Level Applications Engineer (Background ...   Osceola    WI
3                    Senior Golang Backend Developer   Norwell    MA
4  Senior .NET Developer – UI/UX-Focused Cybersec...    Remote   NaN

                          Salary Job_type
0                            NaN   Remote
1  $100K - $140K (Employer est.)   Remote
2    $62K - $85K (Employer est.)   Remote
3          $135K (Employer est.)   Remote
4                            NaN   Remote

In [300]:
print(office_space.head())
print(remote_expenses.head())
print(commute_costs.head())

            Market  Total Points  Rent Q4 2023  Rent Q4 2024  \
0       Albany, NY          53.1          19.6          19.1
1  Albuquerque, NM          45.2          21.8          20.3
2      Atlanta, GA          56.9          31.4          33.6
3       Austin, TX          50.3          41.2          45.7
4    Baltimore, MD          44.5          26.3          26.7

  Rent Change Y-o-Y Vacancy Q3 2024 Vacancy Q4 2024 Vacancy Change (ppt)  \
0             -2.7%           13.2%           13.9%                 0.7%
1             -6.9%           15.3%           14.7%                -0.6%
2              7.0%           18.0%           18.9%                 0.9%
3             10.9%           27.8%           27.9%                 0.1%
4              1.6%           18.6%           20.3%                 1.8%

   Sq. Ft. Q3 2024  Sq. Ft. Q4 2024  ...  Cowork % of Office Q3  \
0         28309456         28269609  ...                 1.075%
1         21152598         21125826  ...                 1.423%
2        228314617        228996561  ...                 2.157%
3        102728379        102484964  ...                 1.684%
4        107121011        106361368  ...                 1.204%

  Cowork Sq. Ft. Q4.1   Q-o-Q Cowork % of Office Change  \
0              1.130%                            0.056%
1              1.274%                           -0.149%
2              2.185%                            0.028%
3              1.734%                            0.049%
4              1.226%                            0.022%

  Office Searches Q4 2023  Office Searches Q4 2024  \
0                      40                       50
1                     590                      400
2                    1370                     1620
3                    1800                      970
4                    1800                     1640

   Y-o-Y Office Search Change Cowork Search Q4 2023  Cowork Search Q4 2024  \
0                         25%                   110                    160
1                        -32%                   480                    330
2                         18%                  2320                   2790
3                        -46%                  2850                   3350
4                         -9%                   770                    860

   Y-o-Y Cowork Search Change  Over/Under 100M sqft
0                         45%              Mid-size
1                        -31%              Mid-size
2                         20%                 Large
3                         18%                 Large
4                         12%                 Large

[5 rows x 30 columns]
   Unnamed: 0  Rank         State Average WFH Salary  \
0           0     1  North Dakota         $70,247.00
1           1     2  South Dakota         $66,390.00
2           2     3      Oklahoma         $56,566.00
3           3     4       Vermont         $65,048.00
4           4     5      Kentucky         $54,825.00

  Average WFH Monthly Salary Median Monthly Rent  Salary/Rent Ratio (%)  \
0                  $5,853.92             $828.00                  14.14
1                  $5,532.50             $761.00                  13.76
2                  $4,713.83             $818.00                  17.35
3                  $5,420.67             $999.00                  18.43
4                  $4,568.75             $783.00                  17.14

   Electricity Price (cents per kWh)  Internet Speed (Mbps)  \
0                              10.50                  244.3
1                              11.79                  191.7
2                              11.30                  351.0
3                              21.22                  408.2
4                              12.48                  261.8

   Taxes, Fees and Government Surcharges on Wireless Service (%)  \
0                                              15.62
1                                              14.35
2                                              16.09
3                                               8.90
4                                              11.09

   TOTAL WFH SCORE Price per Mbps Average monthly payment  \
0           300.00          $0.64                  $56.42
1           290.30          $0.69                  $55.88
2           280.85          $1.14                  $81.27
3           280.03          $1.36                  $82.78
4           272.35          $0.94                  $79.56

   Median Download Speed (Mbps)
0                         88.51
1                         81.36
2                         71.23
3                         60.81
4                         84.85
   Unnamed: 0           City                 State  \
0           1  San Francisco            California
1           2        Fremont            California
2           3     Washington  District of Columbia
3           4    Jersey City            New Jersey
4           5       New York              New York

  Median Earnings for Full-Time Workers Average Hourly Wage  \
0                           $103,978.00              $49.99
1                           $104,768.00              $50.37
2                            $93,855.00              $45.12
3                            $76,964.00              $37.00
4                            $65,317.00              $31.40

   Average Commute (Round Trip) Daily Commute Cost Annual Commute Cost
0                          58.4             $48.66          $12,650.66
1                          55.2             $46.34          $12,048.32
2                          56.6             $42.57          $11,067.07
3                          68.0             $41.94          $10,903.23
4                          79.6             $41.66          $10,831.74

In [302]:
# Dictionary mapping state abbreviations to full state names
state_abbreviation_map = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas',
    'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts',
    'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana',
    'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico',
    'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma',
    'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota',
    'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington',
    'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming', 'Unknown':'Unknown'
}

# Remove leading/trailing spaces and convert to uppercase
wages['State'] = wages['State'].str.strip().str.upper()

# Fill NaN values with 'Unknown'
wages['State'].fillna('Unknown', inplace=True)

# Now apply the mapping
wages['State'] = wages['State'].map(state_abbreviation_map)

# If some values are still NaN after mapping, replace them with original values
wages['State'].fillna(wages['State'], inplace=True)

# Display a sample of the result
print(wages[['State']].head())

           State
0        Unknown
1        Florida
2      Wisconsin
3  Massachusetts
4        Unknown

/var/folders/sx/60_bj5px0wx1bnj278_ft4b40000gn/T/ipykernel_18353/1118325236.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wages['State'].fillna('Unknown', inplace=True)

In [304]:
office_space[['City', 'State']] = office_space['Market'].str.split(', ', expand=True)

# print(office_space[['Place', 'State']].head())

# Convert abbreviated state names in 'State' column to full state names
office_space['State'] = office_space['State'].map(state_abbreviation_map)

# Display a sample of the result
print(office_space['State'].head())

0      New York
1    New Mexico
2       Georgia
3         Texas
4      Maryland
Name: State, dtype: object

In [313]:
import numpy as np
import re

# Function to clean salary and compute mean & median
def process_salary(salary):
    if pd.isna(salary) or 'NaN' in str(salary):
        return np.nan  # Handle missing values
    numbers = re.findall(r'\d+', salary)  # Extract numbers
    if len(numbers) == 2:  # If range exists (e.g., 42K-82K)
        low, high = map(int, numbers)
        return (low + high) / 2  # Mean salary
    elif len(numbers) == 1:  # If only one value exists
        return int(numbers[0])
    return np.nan

# Apply salary cleaning function
wages['Mean_Salary'] = wages['Salary'].apply(process_salary)


print(wages.head())

              Keyword            Company  \
0  software developer  CyberBalance, LLC
1  software developer        eComSystems
2  software developer     Bend-Tech, LLC
3  software developer     Ceresti Health
4  software developer  CyberBalance, LLC

                                           Job_title      City          State  \
0  Senior .NET Developers to Modernize Cybersecur...    Remote        Unknown
1                       Full Stack Website Developer  Sarasota        Florida
2  Entry Level Applications Engineer (Background ...   Osceola      Wisconsin
3                    Senior Golang Backend Developer   Norwell  Massachusetts
4  Senior .NET Developer – UI/UX-Focused Cybersec...    Remote        Unknown

                          Salary Job_type  Mean_Salary
0                            NaN   Remote          NaN
1  $100K - $140K (Employer est.)   Remote        120.0
2    $62K - $85K (Employer est.)   Remote         73.5
3          $135K (Employer est.)   Remote        135.0
4                            NaN   Remote          NaN

In [315]:

wages = wages[["Keyword","Job_title", "Company", "Mean_Salary", "City", "State", "Job_type"]]

office_space = office_space[["City", "State", "Rent Q4 2024", "Vacancy Q4 2024", "Over/Under 100M sqft"]]

remote_expenses = remote_expenses[["State", "Median Monthly Rent", "Electricity Price (cents per kWh)", "Internet Speed (Mbps)",
                                   "Average monthly payment","Taxes, Fees and Government Surcharges on Wireless Service (%)"]]

commute_costs = commute_costs[["City", "State", "Annual Commute Cost"]]

In [317]:
#wages.rename(columns={"City/County": "City"}, inplace=True)
remote_expenses.rename(columns={"Average monthly payment": "Average internet monthly payment"}, inplace=True)

In [319]:
print("Wages columns:", wages.columns)
print("Office space columns:", office_space.columns)

Wages columns: Index(['Keyword', 'Job_title', 'Company', 'Mean_Salary', 'City', 'State',
       'Job_type'],
      dtype='object')
Office space columns: Index(['City', 'State', 'Rent Q4 2024', 'Vacancy Q4 2024',
       'Over/Under 100M sqft'],
      dtype='object')

In [321]:
# Merge wages with office space costs on 'State'
merged_df = wages.merge(office_space, on=["City","State"], how="left")

In [323]:
# Merge with remote expenses on 'State'
merged_df = merged_df.merge(remote_expenses, on="State", how="left")

In [325]:

# Merge with commute costs on 'City' and 'State'
merged_df = merged_df.merge(commute_costs, on=["City", "State"], how="left")

In [329]:
merged_df.head(2)

,Keyword,Job_title,Company,Mean_Salary,City,State,Job_type,Rent Q4 2024,Vacancy Q4 2024,Over/Under 100M sqft,Median Monthly Rent,Electricity Price (cents per kWh),Internet Speed (Mbps),Average internet monthly payment,"Taxes, Fees and Government Surcharges on Wireless Service (%)",Annual Commute Cost
0,software developer,Senior .NET Developers to Modernize Cybersecur...,"CyberBalance, LLC",NaN,Remote,Unknown,Remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,software developer,Full Stack Website Developer,eComSystems,120.0,Sarasota,Florida,Remote,NaN,NaN,NaN,"$1,218.00",15.28,322.3,$83.25,15.06,NaN

### Data Cleaning ###

In [332]:
merged_df.dtypes

Keyword                                                           object
Job_title                                                         object
Company                                                           object
Mean_Salary                                                      float64
City                                                              object
State                                                             object
Job_type                                                          object
Rent Q4 2024                                                     float64
Vacancy Q4 2024                                                   object
Over/Under 100M sqft                                              object
Median Monthly Rent                                               object
Electricity Price (cents per kWh)                                float64
Internet Speed (Mbps)                                            float64
Average internet monthly payment                                  object
Taxes, Fees and Government Surcharges on Wireless Service (%)    float64
Annual Commute Cost                                               object
dtype: object

In [334]:

# Remove '$' and convert to float
merged_df['Average internet monthly payment'] = merged_df['Average internet monthly payment'].str.replace('$', '', regex=False).astype(float)

In [336]:
# Remove '$' and ',' using regex, then convert to float
merged_df['Annual Commute Cost'] = (
    merged_df['Annual Commute Cost']
    .str.replace('[\$,]', '', regex=True)  # Remove both '$' and ','
    .astype(float)  # Convert to float
)

<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
/var/folders/sx/60_bj5px0wx1bnj278_ft4b40000gn/T/ipykernel_18353/3310348763.py:4: SyntaxWarning: invalid escape sequence '\$'
  .str.replace('[\$,]', '', regex=True)  # Remove both '$' and ','

In [338]:
# # Dictionary mapping states to their average office rent (per sqft)
# state_rent_mapping = {
#     'Alabama': 22.5,         # Average of $20 - $25
#     'Alaska': 27.5,          # Average of $25 - $30
#     'Arkansas': 20.0,        # Average of $18 - $22
#     'Connecticut': 30.0,     # Average of $25 - $35
#     'Delaware': 25.0,        # Average of $22 - $28
#     'Hawaii': 40.0,          # Average of $35 - $45
#     'Iowa': 20.0,            # Average of $18 - $22
#     'Michigan': 22.5,        # Average of $20 - $25
#     'Minnesota': 25.0,       # Average of $22 - $28
#     'Mississippi': 20.0,     # Average of $18 - $22
#     'Missouri': 22.5,        # Average of $20 - $25
#     'Nebraska': 20.0,        # Average of $18 - $22
#     'New Hampshire': 25.0,   # Average of $22 - $28
#     'New Jersey': 30.0,      # Average of $25 - $35
#     'New Mexico': 22.5,      # Average of $20 - $25
#     'North Dakota': 20.0,    # Average of $18 - $22
#     'Rhode Island': 25.0,    # Average of $22 - $28
#     'Vermont': 22.5,         # Average of $20 - $25
#     'Virginia': 30.0,        # Average of $25 - $35
#     'West Virginia': 20.0    # Average of $18 - $22
# }

# # Fill NaN values in 'Rent Q4 2024' based on the state
# merged_df['Rent Q4 2024'] = merged_df.apply(
#     lambda row: state_rent_mapping[row['State']] if pd.isna(row['Rent Q4 2024']) else row['Rent Q4 2024'],
#     axis=1
# )

# print(merged_df)

In [342]:
# Columns to fill NaN values
columns_to_fill = [
    'Rent Q4 2024', 
    'Electricity Price (cents per kWh)', 
    'Average internet monthly payment', 
    'Annual Commute Cost'
]

# Fill NaN values with the mean of the corresponding state
for column in columns_to_fill:
    merged_df[column] = merged_df.groupby('State')[column].transform(lambda x: x.fillna(x.mean()))

merged_df.head()

,Keyword,Job_title,Company,Mean_Salary,City,State,Job_type,Rent Q4 2024,Vacancy Q4 2024,Over/Under 100M sqft,Median Monthly Rent,Electricity Price (cents per kWh),Internet Speed (Mbps),Average internet monthly payment,"Taxes, Fees and Government Surcharges on Wireless Service (%)",Annual Commute Cost
0,software developer,Senior .NET Developers to Modernize Cybersecur...,"CyberBalance, LLC",NaN,Remote,Unknown,Remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,software developer,Full Stack Website Developer,eComSystems,120.0,Sarasota,Florida,Remote,41.642857,NaN,NaN,"$1,218.00",15.28,322.3,83.25,15.06,4590.725714
2,software developer,Entry Level Applications Engineer (Background ...,"Bend-Tech, LLC",73.5,Osceola,Wisconsin,Remote,20.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4265.346000
3,software developer,Senior Golang Backend Developer,Ceresti Health,135.0,Norwell,Massachusetts,Remote,53.300000,NaN,NaN,"$1,336.00",29.25,401.2,93.60,10.59,8589.180000
4,software developer,Senior .NET Developer – UI/UX-Focused Cybersec...,"CyberBalance, LLC",NaN,Remote,Unknown,Remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [344]:
# Add calculations
merged_df['Remote Salary (Annual)'] = merged_df['Mean_Salary']  # $131,554
merged_df['In-Office Salary (Annual)'] = merged_df['Mean_Salary']

In [346]:
# Calculate remote work expenses: Rent, Electricity, Internet cost, and Annual Commute Cost
merged_df['Remote Work Expenses'] = (
    #df['Median Monthly Rent'] * 12 +  # Annual rent cost
    merged_df['Electricity Price (cents per kWh)'] * 900 * 12 / 100 +  # Annual electricity cost, assuming 900 kWh/month
    merged_df['Average internet monthly payment'] * 12  # Annual internet cost
)

In [348]:
# Assuming average office space per employee is 150 sqft
average_office_space_per_employee = 150  # square feet

# Calculate office rent for in-office workers
merged_df['Office Rent'] = merged_df['Rent Q4 2024'] * average_office_space_per_employee * 12

# Calculate the total in-office expenses, including office space rent
merged_df['In-Office Expenses'] = (
    merged_df['Annual Commute Cost'] +  # Annual commute cost
    merged_df['Office Rent']  # Office rent cost for the company
)

In [350]:
merged_df['Total In-office salary'] = merged_df['In-Office Salary (Annual)'] + merged_df['In-Office Expenses'].fillna(0)
merged_df['Total Remote salary'] = merged_df['Remote Salary (Annual)'] + merged_df['Remote Work Expenses'].fillna(0)

In [358]:
# Create final dataset
final_df = merged_df[['Keyword', 'Job_title', 'Company', 'City', 'State', 'Mean_Salary', 'Job_type',
                'Rent Q4 2024', 'Vacancy Q4 2024', 'Median Monthly Rent', 'Electricity Price (cents per kWh)',
                'Internet Speed (Mbps)', 'Average internet monthly payment', 'Annual Commute Cost', 
                'Remote Salary (Annual)', 'In-Office Salary (Annual)', 'Remote Work Expenses', 'In-Office Expenses',
                'Total In-office salary', 'Total Remote salary']]

In [360]:
final_df.head()

,Keyword,Job_title,Company,City,State,Mean_Salary,Job_type,Rent Q4 2024,Vacancy Q4 2024,Median Monthly Rent,Electricity Price (cents per kWh),Internet Speed (Mbps),Average internet monthly payment,Annual Commute Cost,Remote Salary (Annual),In-Office Salary (Annual),Remote Work Expenses,In-Office Expenses,Total In-office salary,Total Remote salary
0,software developer,Senior .NET Developers to Modernize Cybersecur...,"CyberBalance, LLC",Remote,Unknown,NaN,Remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,software developer,Full Stack Website Developer,eComSystems,Sarasota,Florida,120.0,Remote,41.642857,NaN,"$1,218.00",15.28,322.3,83.25,4590.725714,120.0,120.0,2649.24,79547.868571,79667.868571,2769.24
2,software developer,Entry Level Applications Engineer (Background ...,"Bend-Tech, LLC",Osceola,Wisconsin,73.5,Remote,20.200000,NaN,NaN,NaN,NaN,NaN,4265.346000,73.5,73.5,NaN,40625.346000,40698.846000,73.50
3,software developer,Senior Golang Backend Developer,Ceresti Health,Norwell,Massachusetts,135.0,Remote,53.300000,NaN,"$1,336.00",29.25,401.2,93.60,8589.180000,135.0,135.0,4282.20,104529.180000,104664.180000,4417.20
4,software developer,Senior .NET Developer – UI/UX-Focused Cybersec...,"CyberBalance, LLC",Remote,Unknown,NaN,Remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [362]:
final_df.to_csv('Software_Developer_dataset_v1.csv')